html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

body{
    font-family: sans-serif;
}

.container{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

header{
    background-color: rgba(0, 0, 0, 0.8);
    height: 65px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.bagian-kiri img{
    float: left;
    margin-right: 10px;
    line-height: 65px;
    width: 180px;
}

.bagian-kiri li{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 65px;
}

.bagian-kiri a{
    text-decoration: none;
    color: white;
}

.bagian-kanan a{
    float: right;
    line-height: 25px;
    background-color: rgb(31, 122, 140);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;  
    display: block;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

.cover{
    width: 100%px;
    background-image: url("image/design-cover2.png");
    padding-top: 180px;
    padding-bottom: 100px;
    background-size: cover;
    color: white;
}

.cover h1{
    font-size: 45px;
    margin-bottom: 12px;
}

.cover p{
    color: #BFDBF7;
}

.special{
    margin-bottom: 5px;
    padding-top: 15px;
}

.special2{
    margin-bottom: 5px;
}

.tombol{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 125px;
    display: inline-block;
}

.tombol a{
    background-color: rgb(31, 122, 140);
    height: 35px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;  
    display: block;
    border: 0px solid;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.ready{
    margin-top: 20px;
    padding: 25px 0px 25px 0px;
    background-color: #022B3A;
    color: white;
    text-align: center;
}

.ready h1{
    display: block;
}

.klik{
    box-shadow: 7px 7px #BFDBF7;
    cursor: pointer;
}

.klik:active{
    box-shadow: none;
    position: relative;
    top: 7px;
    left: 7px;
}

footer{
    background-color: black;
    color: white;
    height: 120px;
    padding: 40px;
}
  
.list{
    float: right;
    padding: 30px 10px 20px 0px;
}
  
.list li{
    padding-bottom: 20px;
}

.list a{
    text-decoration: none;
    color: white;
}

.partner{
    height: 100px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.partner h2{
    margin-bottom: 10px;
}

.partner img{
    width: 40px;
    margin-right: 20px;
}

.course{
    padding-top: 50px;
    background-color: #f7f7f7;
    height: 580px;
}

.pelajaran{
    float: left;
    width: 23%;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    text-align: center;
    background-color: white;
}

.pelajaran:hover{
    box-shadow: 7px 7px #303532;
    position: relative;
    cursor: pointer;
    top: -7px;
    left: -7px;
}

.special3{
    margin-right: 0px;
}

.icon img{
    width: 200px;
}

.icon h4{
    margin-top: 15px;
}

.penjelasan{
    color: #b3aeb5;
    font-size: 15px;
    margin-top: 20px;
    width: 80%;
    display: inline-block;
}

.see-all{
    float: right;
}